<!DOCTYPE html>
<html {{ language_attributes }}>
    <head>
        {% block head %}
            {% include 'partials/head.twig' %}
        {% endblock %}
    </head>

    <body class="{{body_class}}" data-template="base.twig" {{ body_atributes }}>
        {% include 'partials/google-tag-manager.twig' %}
        {% include 'partials/fbLikeButton.twig' %}

        {% include 'organisms/navigation.twig' %}

        {% block content %}

        {% endblock %}

        {% include 'organisms/categoryList.twig' %}

        {% include 'organisms/footer.twig' %}

        {% block footer %}
            {% block footer_scripts %}

            {% endblock %}

            {{ function('wp_footer') }}
        {% endblock %}
    </body>
</html>
