<!DOCTYPE html>
<html>
  <head>
    {{function('wp_head')}}
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Test</h1>
    <pre>
      {{ dump(site) }}  
    </pre>

    {{ function('wp_footer') }}
  </body>
</html>
