.btn {
  background-color: $color-text-blue;
  color: #FFF;
  font-weight: 500;
  border-radius: 4px;
  padding: 15px 20px;

  &:hover, &:active, &:focus {
    color: #fff;
    background: darken($color-text-blue, 5%);
  }
}

.btn--white {
  background-color: #FFF;
  color: $color-text-dark;

  &:hover, &:active, &:focus {
    color: $color-text-dark;
    background-color: #F7F4F4;
  }
}


.btn--small {
  font-size: .9rem;
}


.btn--bordered {
  background: none;
  
  color: $color-text-dark;

  &:hover, &:active, &:focus {
    background: none;
    color: $color-text-blue;
    border-color: $color-text-blue;
  }
}
