.category__title-section {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}

.category__title {
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
}

.category__back-link {
  text-align: center;
  color: #ABABAB;
  font-weight: 600;
}
