{% extends "templates/base.twig" %}

{% block content %}
  <div class="hero">
    <div class="hero__inner">
      <h1>Because life is too short for reading crappy books</h1>
      <a href="#favourites"class="btn btn--white btn--small">
        Discover your new MustRead
      </a>
    </div>
  </div>



  <section class="container-fluid" id="favourites">
    <h2>Favourites</h2>
    <div class="row">
      {% for book in books %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {% include 'molecules/card.twig' %}
        </div>
      {% endfor %}
      {% for book in books %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {% include 'molecules/card.twig' %}
        </div>
      {% endfor %}
      {% for book in books %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {% include 'molecules/card.twig' %}
        </div>
      {% endfor %}
      {% for book in books %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {% include 'molecules/card.twig' %}
        </div>
      {% endfor %}
      {% for book in books %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {% include 'molecules/card.twig' %}
        </div>
      {% endfor %}
      {% for book in books %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {% include 'molecules/card.twig' %}
        </div>
      {% endfor %}
      {% for book in books %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {% include 'molecules/card.twig' %}
        </div>
      {% endfor %}
      {% for book in books %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {% include 'molecules/card.twig' %}
        </div>
      {% endfor %}
      {% for book in books %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {% include 'molecules/card.twig' %}
        </div>
      {% endfor %}
      {% for book in books %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {% include 'molecules/card.twig' %}
        </div>
      {% endfor %}
      {% for book in books %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {% include 'molecules/card.twig' %}
        </div>
      {% endfor %}
      {% for book in books %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {% include 'molecules/card.twig' %}
        </div>
      {% endfor %}
      {% for book in books %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {% include 'molecules/card.twig' %}
        </div>
      {% endfor %}
      {% for book in books %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {% include 'molecules/card.twig' %}
        </div>
      {% endfor %}
      {% for book in books %}
        <div class="col-xs-12 col-sm-6 col-md-4">
          {% include 'molecules/card.twig' %}
        </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-lg-12">
        {% include 'organisms/pagination.twig' %}
      </div>
    </div>
  </section>
{% endblock %}
