.categoryList-section {
  background: #EEEEEE;
  margin-top: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.categoryList__link {
   padding-top: 15px;
   padding-bottom: 15px;
   border-top: 1px solid #CDCDCD;
   display: block;
   width: 100%;
   color: #2A2928;
   font-weight:  600;

   &:hover {
     color: $color-text-blue;
     text-decoration: none;
   }
}

.single .categoryList-section {
  margin-top: 0;
}
