.hero {
  background: #F2C2B7;
  height: 520px;
  margin-bottom: 80px;
  text-align: center;

  h1 {
    font-family: 'PT Serif';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.125;
    color: $color-text-dark;
    max-width: 540px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
