.navbar {
  @extend %clearfix;
  padding-top: 50px;
  padding-bottom: 25px;
  font-weight: 600;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .05);
  z-index: 100;
  position: fixed;
  width: 100%;
  background: #FFF;
  top: 0;
  min-height: 100px;
  transition: padding 600ms 0s ;

  &.navbar--shrink {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 65px;
  }
}

body.admin-bar {
  .navbar {
    top: 32px;
  }
}
.nav__list {
  width: 100%;
  @include horizontal-list();
}

.nav--left {
  float: left;
}

.nav--right {
  float: right;
}

.navbar__logo {
  position: absolute;
  max-width: 162px;
  height: auto;
  left: 50%;
  margin-left: -81px;
  -webkit-backface-visibility: hidden; //Fixes the shaky logo
}
