.pagination {
  margin-top: 40px;
}

.pagination__prev,
.pagination__next {
  border-top: 1px solid #DCDCDC;
  padding-top: 10px;
  font-weight: 600;

  .icon {
    height: 10px;
  }

  &:hover, &:focus, &:active {
    border-color: $color-text-blue;

    .icon path{
      fill: $color-text-blue;
    }
  }
}

.pagination__prev {
  float: left;
}

.pagination__next {
  float: right;
}
