
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3>About MustReads</h3>
          <p>MustReads is a curated list of Books for designers. Nothing more, nothing less. I hope you enjoy it.</p>
        </div>
      </div>
    </div>
  </div>
</div>
