<header class="navbar">
  <div class="container-fluid">
    <nav class="nav nav--left">
      <ul class="nav__list">
        <li><a href="/">popular</a></li>
        <li><a href="#categories">categories</a></li>
      </ul>
    </nav>
    <img src="{{ theme.link }}/dist/img/logo.svg" alt="MustReads" class="navbar__logo" width="162" height="24">
    <nav class="nav nav--right">
      <ul class="nav__list">
        <li>
          <a href="#about" data-toggle="modal" data-target="#aboutModal">
            about
          </a>
        </li>
        <li>submit a book</li>
      </ul>
    </nav>
  </div>
</header>
